.item{
      height: 100px;
      background-color: lightblue;
      border: 1px solid black;
      width:40%;
      position: relative;
      left:27%;
}
.box1{
      background-color: lightpink;
      height:70px;
      position:relative;
      top:10%;
      left:4%;
      width:90%;
      
}
.box2{
      background-color: lime;
      height:35px;
      width:50%;    
      border: 2px solid black;  
}
.box3{
      background-color: lightgreen;
      height:35px;
      width:50%;
      float: right;
      position: relative;
      bottom:35px;
      border:2px solid black;
}
.item1{
      width: 100%;
      height:200px;
      background-color: maroon;
}
.k1{
      height:180px;
      border:2px solid black;
}
.k2{
      height:180px;
      border:2px solid black;
      float: right;
      position: relative;
      bottom:90%;
}
.cl{
      background-color: yellow;
      /* height: 200px; */
}
.parent,.child{
      background-color: lightsalmon;
      height:150px;
      border: 2px solid green;
      width:50%;
      float: right;
      /* margin-top: 2%; */
}
.order {
  background-color: darkmagenta;
  height: 200px;
}

.or1 {
  background-color: yellow;
  height: 100px;
  border: 2px solid black;
  margin-bottom: 40px;
}

.or2 {
  background-color: deeppink;
  height: 100px;
  border: 2px solid black;
  margin-bottom: 40px;
}

.simple {
  height: 75px;
}

.simple1 {
  background-color: #c43bbb;
  height: 75px;
}
