/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}
.nav-link{
      font-size: large;
      font-weight: bold;
      text-decoration: none;
}
.card-title{
      font-size: 30px;
      text-align: center;
}
.contact{
      font-size: 50px;
      text-align: center;
}
.co{
      text-align: center;
      text-decoration: underline;
}
.pro{
      text-align: center;
}