.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:whitesmoke; /* pink color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.custom-arrow {
  font-size: 30px;
  color: #000000; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 75%;
  padding: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #141313;
  transition: all 0.3s ease;
  margin: 0 5px;
  border: none;
}
.carousel-indicators .active {
  background-color: #0f060a; /* Pink like Winni */
  transform: scale(1.3);  
  width:12px;
  border-radius:20px ;
}