

.right-section {
  display: flex;
  align-items: center;
  position: absolute;
  top:50px;
  left: 18%; 
  gap:15px;
}
.search-bar {
  position: relative;
  width: 350px;
}
.search-bar input {
  min-width: 400px;
  padding: 10px 40px 10px 15px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  background-color: #edebeb;
}
.search-bar input:focus {
  background-color: #fff;   
  border-color: #aaa;       
}

.search-bar i {
  position: absolute;
  right: -11%; 
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
  cursor: pointer; 
}
.search-tooltip{
  position: absolute;
  top: 100%;           
  left: 57% !important;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 8px 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.20);
  font-size: 13px;
  white-space: normal;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width:400px;
  border-radius: 6px;
  min-height: 140px;
}
.search-item {
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.search-item::after {
  content: "";
  flex: 1;
  margin-left: 14px;
  height: 1px;
  background-color: #ccc;  
}
.sub-menu{
  position: absolute;
  top:45px;

  left:5%;
  font-size: 14px;
}
.sub-menu1{
  position: absolute;
  top:45px;
  left: 32%;
  font-size: 14px;
}
.sub-menu2{
  position:absolute;
  top:45px;
  left:63%;
  font-size: 14px;
}
.text{
  font-weight: bold;
}
.sub-menu00{
  position: absolute;
  top:75px;
  left:5%;
  font-size: 14px;
}
.sub-menu01{
  position: absolute;
  top:75px;
  left:32%;
  font-size: 14px;
}
.sub-menu02{
  position: absolute;
  top:75px;
  left:63%;
  font-size: 14px;
}
.sub-menu3{
  position: absolute;
  top:105px;
  left:5%;
  font-size: 14px;
}
.sub-menu001{
  position: absolute;
  top:105px;
  left:43%;
  font-size: 14px;
}

.sub-menu:hover,
.sub-menu1:hover,
.sub-menu2:hover,
.sub-menu00:hover,
.sub-menu001:hover,
.sub-menu02:hover,
.sub-menu01:hover,
.sub-menu3:hover {
  border-color: pink; 
  background-color: #fcf0f8; 
  border-radius: 4px;
  cursor: pointer;
  
}
.sub-menu,
.sub-menu1,
.sub-menu2,
.sub-menu00,
.sub-menu001,
.sub-menu02,
.sub-menu01,
.sub-menu3 {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px; 
  transition: border-color 0.2s ease;
}
